<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/saveActivity}" th:object="${activity}"
          METHOD="post" modelAttribute="${activity}">
        <h2>Input activity</h2>
        <table>
            <tr>
                <td><label>Type: </label></td>
                <td><input type="text" th:name="type" th:value="${activity.type}"
                           required aria-required="true"/></td>
            </tr>
            <tr>
                <td><label>TEXT: </label></td>
                <td><input type="text" th:name="text" th:value="${activity.text}"
                           required aria-required="true"/></td>
            </tr>
            <tr>
                <td><button type="submit">Add</button></td>
            </tr>
        </table>
    </form>
</body>
</html>