<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/style/css/form.css"/>
    <title>Title</title>
</head>
<body>
    <main>
        <form th:action="@{/saveNewActivity}" th:object="${activity}"
              METHOD="post" modelAttribute="${activity}" enctype="multipart/form-data">
            <h2>Input activity</h2>
            <table>
                <tr>
                    <td><label>Tип мероприятия: </label></td>
                    <td><select name="type" id="type-select">
                        <option name="tournament" value="Турнир"
                                sec:authorize="hasRole('ROLE_REFEREE')">Турнир</option>
                        <option name="departure" value="Выезд"
                                sec:authorize="hasRole('ROLE_INSTRUCTOR')">Выезд</option>
                        <option name="master-class"
                                value="Мастер-класс">Мастер-класс</option>
                    </select></td>
                </tr>
                <tr>
                    <td><label>Текст: </label></td>
                    <td><input type="text" th:name="text" th:value="${activity.text}"/></td>
                </tr>
                <tr>
                    <td><label>Место проведения: </label></td>
                    <td><input type="text" th:name="location" th:value="${activity.location}"/></td>
                </tr>
                <tr>
                    <td><label for="datetime">Дата и время начала:</label></td>
                    <td><input type="datetime-local" th:field="*{start}"
                               id="datetime" name="start"/></td>
                </tr>
                <tr>
                    <td><label for="datetime">Дата и время окончания:</label></td>
                    <td><input type="datetime-local" th:field="*{finish}"
                               id="datetime-finish" name="finish"/></td>
                </tr>
                <tr>
                    <td><label>Фото: </label></td>
                    <td><input type="file" th:name="file"/></td>
                </tr>
                <tr class="error" th:if="${errors != null}">
                    <td><p th:text="${'Заполните необходимые поля'}">typeError</p></td>
                </tr>
                <tr>
                    <td><button type="submit">Создать</button></td>
                </tr>
                <tr class="back">
                    <td><a href="/activitiesPoster" class="btn back">Назад</a></td>
                </tr>
            </table>
        </form>
    </main>
</body>
</html>