<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <form th:action="@{/activity/saveEditActivity}" METHOD="post"
          enctype="multipart/form-data">
        <h2>Input activity</h2>
        <input type="hidden" th:name="id" th:value="${activity.id}">
        <table>
            <tr>
                <td><label>Тип мероприятия: </label></td>
                <td><input type="text" th:name="type" th:value="${activity.type}"/></td>
            </tr>
            <tr>
                <td><label>Описание: </label></td>
                <td><input type="text" th:name="text" th:value="${activity.text}"/></td>
            </tr>
            <tr>
                <td><label>Фото: </label></td>
                <td><input type="file" th:name="file"/></td>
            </tr>
            <tr>
                <td><button type="submit">Сохранить</button></td>
            </tr>
            <tr class="back">
                <td><a href="/poster" class="btn back">Назад</a></td>
            </tr>
        </table>
    </form>
</main>
</body>
</html>