<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
        <div th:insert="parts/layout :: navbar"></div>
        <div class="container mt-5">
        <h3>Привет!</h3></div>
        <a href="/poster">main page</a>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>
</html>