<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/style/css/form.css">
    <title>Spring Security Example </title>
</head>
<body>
    <form th:action="@{/login}" method="post">
        <h2>Вход</h2>
        <table>
            <tr>
                <td><label>Username: </label></td>
                <td><input type="text" name="username"/></td>
            </tr>
            <tr>
                <td><label>Email: </label></td>
                <td><input type="email" name="email"/></td>
            </tr>
            <tr>
                <td><label> Password: </label></td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td>
                    <form th:action="@{/activate/{code}(code=${code})}" th:object="${message}"
                       METHOD="get" modelAttribute="${message}">
                        <p th:text="${message}">message</p>
                    </form>
                </td>
            </tr>
            <tr class="button">
                <td><input type="submit" value="Sign In"/></td>
                <td><input type="button" value="Регистрация"
                           onclick="window.location.href= 'registration'"/></td>
            </tr>
        </table>
    </form>

</body>
</html>