<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/b56e379ce1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style/css/activity.css">
    <title>Title</title>
</head>
<body>
<header>
    <div th:insert="parts/layout :: navbar"></div>
</header>
    <main>
        <div class="card" th:each="activity: ${allActs}">
            <div class="admin">
                <a><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>

            </div>
            <div class="data"><div class="img"><img th:src="@{/img/{filename}(filename = ${activity.filename})}"></div>
                <p th:text="${activity.authorName}">authorName</p>
                <p th:text="${activity.type}">type</p>
                <p th:text="${activity.text}">text</p>
            </div>
            <hr>
            <div class="join">
                <p th:text="${activity.participants.size()}">size <p><i class="fa fa-user" aria-hidden="true"></i></p></p>
                <a th:href="@{/join/{id}(id=${activity.id})}">Join <i class="fa fa-user-plus" aria-hidden="true"></i></a>
                <a th:href="@{/disjoin/{id}(id=${activity.id})}">Leave <i class="fa fa-user-times" aria-hidden="true"></i></a>
            </div>
        </div>
    </main>
</body>
</html>