<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/style/css/form.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Security Example </title>
</head>
<body>
<form th:action="@{/addNewUser}" th:object="${user}"
      method="post" modelAttribute="${user}">
    <h2>Регистрация</h2>
    <table>
        <tr>
            <td><label>Fullname: </label></td>
            <td><input type="text" th:name="fullname" th:value="${user.fullname}"
                       required aria-required="true"/></td>
        </tr>
        <tr>
            <td><label>Email: </label></td>
            <td><input type="email" th:name="email" th:value="${user.email}"
                       required aria-required="true"/></td>
        </tr>
        <tr>
            <td><label>Username: </label></td>
            <td><input type="text" th:name="username" th:value="${user.username}"
                       required aria-required="true"/></td>
        </tr>
        <tr>
            <td><label>Password: </label></td>
            <td><input type="password" th:name="password" th:value="${user.password}"
                       required aria-required="true"/></td>
        </tr>
        <tr>
            <td><button type="submit">Зарегистрироваться</button></td>
        </tr>
    </table>
</form>
</body>
</html>