<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>user edit</h2>
<form th:action="@{saveEditUser}" method="post">
    <input type="hidden" th:name="id" th:value="${user.id}">
    <label><input type="text" th:name="username" th:value="${user.username}"/></label>
    <div th:each="role: ${roles}">
        <label><input type="checkbox" th:name="${role}" th:text="${role}"
                      th:checked="${user.getRoles().contains(role)} ? 'checked'"></label>
    </div>
    <button type="submit">Save</button>
</form>
</body>
</html>