main {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

div.profile {
    display: flex;
    flex-direction: row;
    margin: 30px;
}
div.profile a {
    font-size: x-large;
    text-decoration: none;
    cursor: pointer;
    color: #65666b;
}
div.profile p {
    font-size: x-large;
}
i {
    color: #65666b;
}
tr {
    font-size: large;
}
td p {
    margin: 20px;
}
hr{
    width: 500px;
}