<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://kit.fontawesome.com/b56e379ce1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style/css/activity.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div th:fragment="navbar">
        <div class="brand"><a href="#">Доска мероприятий</a></div>
        <nav class="navbar">
            <ul>
                <li><form method="post" th:action="@{filter}">
                    <input class="search" type="text" th:name="type">
                    <button class="search" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i></button>
                </form></li>
                <li><a href="/addNewActivity"
                       sec:authorize="hasRole('ROLE_REFEREE')">Создать</a></li>
                <li><a href="/addNewActivity"
                       sec:authorize="hasRole('ROLE_INSTRUCTOR')">Создать</a></li>
                <li><a href="/poster">Мероприятия</a></li>
                <li><a href="/profile">Профиль</a></li>
                <li><a href="/authorsActivities"
                       sec:authorize="hasRole('ROLE_REFEREE')">Провожу</a></li>

                <li><form th:action="@{/authorsActivities}" method="get"
                          sec:authorize="hasRole('ROLE_INSTRUCTOR')">
                    <input class="button" type="submit" value="Провожу"/>
                </form></li>
                <li><a href="/joiningActivities">Участвую</a></li>
                <li><form th:action="@{/logout}" method="post">
                    <input class="button" type="submit" value="Выйти"/>
                </form></li>
            </ul>
        </nav>
    </div>

</body>
</html>