<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://kit.fontawesome.com/b56e379ce1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style/css/activity.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div th:fragment="navbar">
        <div class="brand"><a href="#">Доска мероприятий</a></div>
        <nav class="navbar">
            <ul>
                <li><form method="post" th:action="@{filter}">
                    <input class="search" type="text" th:name="type">
                    <button class="search" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i></button>
                </form></li>
                <li><input class="button" type="button" value="Add" sec:authorize="hasRole('ROLE_REFEREE')"
                           onclick="window.location.href= 'addNewActivity'"/></li>
                <li><span><a href="/participant" sec:authorize="hasRole('ROLE_REFEREE')">Participants list</a>
                        </span></li>
                <li><a href="/poster">Мероприятия</a></li>
                <li><form th:action="@{/profile}" method="get">
                    <input class="button" type="submit" value="Профиль"/>
                </form></li>
                <li><form th:action="@{/logout}" method="post">
                    <input class="button" type="submit" value="Sign Out"/>
                </form></li>
            </ul>
        </nav>
    </div>

</body>
</html>